{
	"extends": "eslint:recommended",
	"env": {
		"node": true
	},
	"globals": {
		"Promise": true
	},
	"parserOptions": {
		"ecmaVersion": "2015"
	},
	"rules": {
		"arrow-parens": ["error", "as-needed"],
		"arrow-spacing": ["error", {"before": true, "after": true}],
		"block-scoped-var": ["off"],
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"camelcase": ["off"],
		"comma-dangle": ["error", "never"],
		"comma-spacing": ["error"],
		"comma-style": ["error", "last"],
		"complexity": ["off", 11],
		"consistent-return": ["error"],
		"consistent-this": ["off", "that"],
		"curly": ["error", "multi-line"],
		"default-case": ["error"],
		"dot-notation": ["error", { "allowKeywords": true }],
		"eol-last": ["error"],
		"eqeqeq": ["error"],
		"func-names": ["off"],
		"func-style": ["off", "declaration"],
		"generator-star-spacing": ["error", "after"],
		"guard-for-in": ["off"],
		"handle-callback-err": ["off"],
		"indent": ["error", "tab", {"VariableDeclarator": {"var": 1, "let": 1, "const": 1}, "SwitchCase": 1}],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"keyword-spacing": ["error"],
		"max-depth": ["off", 4],
		"max-len": ["off", 80, 4],
		"max-nested-callbacks": ["off", "error"],
		"max-params": ["off", 3],
		"max-statements": ["off", 10],
		"new-parens": ["error"],
		"new-cap": ["error", { "capIsNewExceptions": ["ToInteger", "ToObject", "ToPrimitive", "ToUint32"] }],
		"newline-after-var": ["off"],
		"newline-before-return": ["error"],
		"no-alert": ["error"],
		"no-array-constructor": ["error"],
		"no-bitwise": ["off"],
		"no-caller": ["error"],
		"no-catch-shadow": ["error"],
		"no-cond-assign": ["error"],
		"no-console": ["off"],
		"no-constant-condition": ["warn"],
		"no-continue": ["error"],
		"no-control-regex": ["error"],
		"no-debugger": ["error"],
		"no-delete-var": ["error"],
		"no-div-regex": ["off"],
		"no-dupe-args": ["error"],
		"no-dupe-keys": ["error"],
		"no-duplicate-case": ["error"],
		"no-else-return": ["off"],
		"no-empty": ["error"],
		"no-empty-character-class": ["error"],
		"no-eq-null": ["off"],
		"no-eval": ["error"],
		"no-ex-assign": ["error"],
		"no-extend-native": ["warn"],
		"no-extra-bind": ["error"],
		"no-extra-boolean-cast": ["error"],
		"no-extra-parens": ["error"],
		"no-extra-semi": ["warn"],
		"no-fallthrough": ["error"],
		"no-floating-decimal": ["error"],
		"no-func-assign": ["error"],
		"no-implied-eval": ["error"],
		"no-inline-comments": ["off"],
		"no-inner-declarations": ["error", "functions"],
		"no-invalid-regexp": ["error"],
		"no-irregular-whitespace": ["error"],
		"no-iterator": ["error"],
		"no-label-var": ["error"],
		"no-labels": ["error"],
		"no-lone-blocks": ["error"],
		"no-lonely-if": ["error"],
		"no-loop-func": ["error"],
		"no-mixed-requires": ["off", false],
		"no-mixed-spaces-and-tabs": ["error", false],
		"no-multi-spaces": ["error"],
		"no-multi-str": ["error"],
		"no-multiple-empty-lines": ["error", { "max": 2 }],
		"no-native-reassign": ["off"],
		"no-negated-in-lhs": ["error"],
		"no-nested-ternary": ["off"],
		"no-new": ["error"],
		"no-new-func": ["off"],
		"no-new-object": ["error"],
		"no-new-require": ["off"],
		"no-new-wrappers": ["error"],
		"no-obj-calls": ["error"],
		"no-octal": ["error"],
		"no-octal-escape": ["error"],
		"no-param-reassign": ["off"],
		"no-path-concat": ["off"],
		"no-plusplus": ["off"],
		"no-process-env": ["off"],
		"no-process-exit": ["off"],
		"no-proto": ["error"],
		"no-redeclare": ["error"],
		"no-regex-spaces": ["error"],
		"no-reno-new-funced-modules": ["off"],
		"no-reserved-keys": ["off"],
		"no-return-assign": ["error"],
		"no-script-url": ["error"],
		"no-self-compare": ["off"],
		"no-sequences": ["error"],
		"no-shadow": ["error"],
		"no-shadow-restricted-names": ["error"],
		"no-spaced-func": ["error"],
		"no-sparse-arrays": ["error"],
		"no-sync": ["off"],
		"no-ternary": ["off"],
		"no-throw-literal": ["error"],
		"no-trailing-spaces": ["error"],
		"no-undef": ["error"],
		"no-undef-init": ["error"],
		"no-undefined": ["off"],
		"no-underscore-dangle": ["off"],
		"no-unreachable": ["error"],
		"no-unused-expressions": ["error"],
		"no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],
		"no-use-before-define": ["error"],
		"no-void": ["off"],
		"no-warning-comments": ["off", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
		"no-with": ["error"],
		"one-var": ["off"],
		"operator-assignment": ["off", "always"],
		"operator-linebreak": ["error", "after"],
		"padded-blocks": ["off"],
		"quote-props": ["off"],
		"quotes": ["error", "single", "avoid-escape"],
		"radix": ["off"],
		"semi": ["error"],
		"semi-spacing": ["error", { "before": false, "after": true }],
		"sort-keys": ["off"],
		"sort-vars": ["off"],
		"space-before-blocks": ["error", "always"],
		"space-before-function-paren": ["off", { "anonymous": "always", "named": "always" }],
		"space-in-brackets": ["off", "never", {
			"singleValue": true,
			"arraysInArrays": false,
			"arraysInObjects": false,
			"objectsInArrays": true,
			"objectsInObjects": true,
			"propertyName": false
		}],
		"space-in-parens": ["error", "never"],
		"space-infix-ops": ["error"],
		"space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"spaced-line-comment": ["off", "always"],
		"strict": ["off"],
		"use-isnan": ["error"],
		"valid-jsdoc": ["off"],
		"valid-typeof": ["error"],
		"vars-on-top": ["off"],
		"wrap-iife": ["off"],
		"wrap-regex": ["error"],
		"yoda": ["error", "never", { "exceptRange": true }]
	},
	"overrides": [
		{
			"files": "lib/*.js",
			"rules": {
				"brace-style": ["off"],
				"indent": ["off"],
				"newline-before-return": ["off"],
				"quotes": ["off"]
			}
		},
		{
			"files": "test/*.js",
			"rules": {
				"no-unused-vars": ["warn"]
			}
		}
	]
}
